In [ ]:
import pandas as pd
import scanpy as sc
import glob 
import os

In [ ]:
path = "/SGRNJ06/randd/PROJECT/RD20073101_ScRNA_VDJ/2022_cm/20230512_MHmix"

In [ ]:
marker_list = glob.glob(f"{path}/*/06.analysis/*_markers.tsv")

In [ ]:
marker_list

In [ ]:
h5ad_list = glob.glob(f"{path}/*/06.analysis/*.h5ad")

In [ ]:
h5ad_list

In [ ]:
h5ad = sc.read_h5ad(h5ad_list[-2])

In [ ]:
h5ad.obs.cluster.value_counts()

In [292]:
marker = pd.read_csv(marker_list[-2], sep='\t')

In [293]:
marker

,cluster,gene,scores,avg_log2FC,p_val,p_val_adj,pct.1,pct.2
0,17,Usp39,3.291480,1.409,9.966178e-04,4.996511e-02,0.210,0.049
1,17,Maf1,3.291885,0.610,9.951823e-04,4.991547e-02,0.318,0.132
2,20,BUD23,3.280473,5.055,1.036333e-03,4.975242e-02,0.168,0.004
3,20,STRAP,3.280877,5.000,1.034847e-03,4.971258e-02,0.168,0.004
4,20,HBP1,3.280820,4.971,1.035059e-03,4.971258e-02,0.168,0.004
...,...,...,...,...,...,...,...,...
1236,12,Fcmr,11.892582,1.980,1.293453e-32,2.415545e-28,0.686,0.359
1237,12,Ighd,12.911490,2.151,3.877222e-38,8.688933e-34,0.833,0.450
1238,12,Cd74,13.150892,2.510,1.681783e-39,4.711136e-35,0.992,0.797
1239,12,H2-Eb1,14.191359,2.290,1.036309e-45,3.870649e-41,0.949,0.594
1240,12,H2-Ab1,14.756349,2.335,2.800360e-49,1.568916e-44,0.949,0.598

In [294]:
marker = marker.sort_values(['cluster','avg_log2FC'],ascending=[True, False])

In [295]:
marker

,cluster,gene,scores,avg_log2FC,p_val,p_val_adj,pct.1,pct.2
754,1,Als2cl,4.117859,2.735,3.824087e-05,0.010178,0.095,0.018
659,1,Tesc,4.016806,2.302,5.899225e-05,0.015196,0.101,0.026
702,1,Sit1,4.055053,2.072,5.012292e-05,0.013031,0.109,0.034
1011,1,Cd6,4.526146,1.884,6.006898e-06,0.001820,0.128,0.044
1037,1,Fam78a,4.587316,1.831,4.489823e-06,0.001390,0.132,0.047
...,...,...,...,...,...,...,...,...
521,26,Tmem71,4.676067,5.321,2.924284e-06,0.021845,0.833,0.089
1074,26,Fxyd5,5.558900,4.658,2.714797e-08,0.000752,1.000,0.355
113,26,S100a10,4.482309,3.611,7.383962e-06,0.045966,0.917,0.304
870,26,Itm2b,4.987090,3.335,6.129544e-07,0.005794,1.000,0.548
1031,26,Tmsb4x,5.300783,1.610,1.153074e-07,0.001436,1.000,0.967

In [296]:
marker = marker.groupby("cluster", as_index=False).head(20)

In [297]:
marker

,cluster,gene,scores,avg_log2FC,p_val,p_val_adj,pct.1,pct.2
754,1,Als2cl,4.117859,2.735,3.824087e-05,0.010178,0.095,0.018
659,1,Tesc,4.016806,2.302,5.899225e-05,0.015196,0.101,0.026
702,1,Sit1,4.055053,2.072,5.012292e-05,0.013031,0.109,0.034
1011,1,Cd6,4.526146,1.884,6.006898e-06,0.001820,0.128,0.044
1037,1,Fam78a,4.587316,1.831,4.489823e-06,0.001390,0.132,0.047
...,...,...,...,...,...,...,...,...
521,26,Tmem71,4.676067,5.321,2.924284e-06,0.021845,0.833,0.089
1074,26,Fxyd5,5.558900,4.658,2.714797e-08,0.000752,1.000,0.355
113,26,S100a10,4.482309,3.611,7.383962e-06,0.045966,0.917,0.304
870,26,Itm2b,4.987090,3.335,6.129544e-07,0.005794,1.000,0.548
1031,26,Tmsb4x,5.300783,1.610,1.153074e-07,0.001436,1.000,0.967

In [298]:
marker = marker.groupby('cluster')['gene'].apply(lambda x: x.tolist()).to_dict()

In [ ]:
marker

In [ ]:
hs_cluster = []
mu_cluster = []
for k, v in marker.items():
    count = 0
    for gene in v:
        if gene[1:].isupper():
            count += 1
        elif gene[1:].islower():
            count -= 1
    
    if count > 0:
        hs_cluster.append(str(k - 1))
    elif count < 0:
        mu_cluster.append(str(k - 1))

In [300]:
hs_cluster

['10', '19', '22']

In [ ]:
mu_cluster

In [ ]:
hs_cluster = [str(key-1) for key in marker if marker[key][1:].isupper()]
mu_cluster = [str(key-1) for key in marker if marker[key][1:].islower()]

In [ ]:
hs_cluster

In [ ]:
mu_cluster

In [ ]:
h5ad.obs

In [ ]:
type(h5ad.obs.cluster[0])

In [302]:
hs_barcode = h5ad.obs[h5ad.obs["cluster"].isin(hs_cluster)]
mu_barcode = h5ad.obs[h5ad.obs["cluster"].isin(mu_cluster)]

In [303]:
hs_barcode

,n_genes_by_counts,total_counts,total_counts_mito,pct_counts_mito,cluster
AAACATCGAAGGTACAAAGACGGA,585,1168.0,25.0,2.140411,10
AAACATCGACAGATTCAAGGTACA,801,1282.0,249.0,19.422777,10
AAACATCGACGCTCGACACTTCGA,435,672.0,40.0,5.952381,10
AAACATCGAGATCGCAACACGACC,1082,2032.0,38.0,1.870079,10
AAACATCGAGTACAAGAAGACGGA,382,599.0,67.0,11.185308,10
...,...,...,...,...,...
TTCACGCAAAGAGATCCAAGGAGC,546,925.0,108.0,11.675676,22
TTCACGCAAATCCGTCCAGCGTTA,1516,3029.0,163.0,5.381314,19
TTCACGCACACCTTACGCGAGTAA,1171,2851.0,226.0,7.927043,19
TTCACGCAGAATCTGAAACGTGAT,1067,2290.0,218.0,9.519650,19
TTCACGCATGGCTTCAAATCCGTC,488,608.0,24.0,3.947368,10

In [304]:
mu_barcode

,n_genes_by_counts,total_counts,total_counts_mito,pct_counts_mito,cluster
AAACATCGAAACATCGAGAGTCAA,489,658.0,13.0,1.975684,13
AAACATCGAAACATCGCAACCACA,439,786.0,3.0,0.381679,17
AAACATCGAACAACCACGGATTGC,1741,5949.0,97.0,1.630526,14
AAACATCGAACAACCAGACTAGTA,377,537.0,17.0,3.165736,1
AAACATCGAACAACCAGATGAATC,874,1782.0,18.0,1.010101,9
...,...,...,...,...,...
TTCACGCATGGCTTCAACGCTCGA,721,1253.0,37.0,2.952913,6
TTCACGCATGGCTTCATGGCTTCA,696,1304.0,33.0,2.530675,5
TTCACGCATGGTGGTAACAGCAGA,539,818.0,20.0,2.444988,7
TTCACGCATTCACGCAATCATTCC,782,1297.0,24.0,1.850424,0
TTCACGCATTCACGCATCCGTCTA,464,705.0,4.0,0.567376,5

In [ ]:
for i in range(len(h5ad_list)):
    h5ad = sc.read_h5ad(h5ad_list[i])
    marker = pd.read_csv(marker_list[i], sep='\t')

In [ ]:
'/SGRNJ06/randd/PROJECT/RD20073101_ScRNA_VDJ/2022_cm/20230512_MHmix/RTmix_0506_2_Nlib/06.analysis/RTmix_0506_2_Nlib.h5ad'.split('/')[-1].split('.')[0]

In [ ]:
a = list(marker.gene)

In [ ]:
a

In [ ]:
'AA1-AAA'.isupper()

In [ ]:
int('a')

In [310]:
h5ad.obs

,n_genes_by_counts,total_counts,total_counts_mito,pct_counts_mito,cluster
AAACATCGAAACATCGAGAGTCAA,489,658.0,13.0,1.975684,13
AAACATCGAAACATCGCAACCACA,439,786.0,3.0,0.381679,17
AAACATCGAACAACCACGGATTGC,1741,5949.0,97.0,1.630526,14
AAACATCGAACAACCAGACTAGTA,377,537.0,17.0,3.165736,1
AAACATCGAACAACCAGATGAATC,874,1782.0,18.0,1.010101,9
...,...,...,...,...,...
TTCACGCATGGCTTCAACGCTCGA,721,1253.0,37.0,2.952913,6
TTCACGCATGGCTTCATGGCTTCA,696,1304.0,33.0,2.530675,5
TTCACGCATGGTGGTAACAGCAGA,539,818.0,20.0,2.444988,7
TTCACGCATTCACGCAATCATTCC,782,1297.0,24.0,1.850424,0
TTCACGCATTCACGCATCCGTCTA,464,705.0,4.0,0.567376,5