In [40]:
import pandas as pd

In [41]:
meta =pd.read_csv('/SGRNJ06/randd/USER/cjj/celedev/trust4/20220531cell_calling/BCR/meta.tsv',sep='\t')

In [42]:
meta = meta.rename_axis('barcode').reset_index()

In [43]:
meta

,barcode,orig.ident,nCount_RNA,nFeature_RNA,sample,percent.mt,percent.MT,percent.mito,RNA_snn_res.0.8,seurat_clusters,new_ident
0,M_0428PBMC1_Nlib_AAACATCGAAACATCGACACGACC,M_0428PBMC1_Nlib,808,581,M_0428PBMC1_Nlib,1.485149,0,1.485149,6,6,NK
1,M_0428PBMC1_Nlib_AAACATCGAAACATCGAGATGTAC,M_0428PBMC1_Nlib,1011,604,M_0428PBMC1_Nlib,1.681503,0,1.681503,12,12,Platelets
2,M_0428PBMC1_Nlib_AAACATCGAAACATCGCCAGTTCA,M_0428PBMC1_Nlib,1031,650,M_0428PBMC1_Nlib,3.394762,0,3.394762,10,10,Bcells
3,M_0428PBMC1_Nlib_AAACATCGAAACATCGGGAGAACA,M_0428PBMC1_Nlib,1134,609,M_0428PBMC1_Nlib,0.529101,0,0.529101,23,23,Neutrophils
4,M_0428PBMC1_Nlib_AAACATCGAACAACCAAACCGAGA,M_0428PBMC1_Nlib,929,608,M_0428PBMC1_Nlib,1.076426,0,1.076426,5,5,Tcells
...,...,...,...,...,...,...,...,...,...,...,...
51103,M_0428PBMC2_Nlib_TTCACGCATGGTGGTAGCTAACGA,M_0428PBMC2_Nlib,1409,832,M_0428PBMC2_Nlib,1.490419,0,1.490419,1,1,Tcells
51104,M_0428PBMC2_Nlib_TTCACGCATGGTGGTATAGGATGA,M_0428PBMC2_Nlib,1076,630,M_0428PBMC2_Nlib,3.624535,0,3.624535,0,0,Bcells
51105,M_0428PBMC2_Nlib_TTCACGCATTCACGCAAAGACGGA,M_0428PBMC2_Nlib,626,443,M_0428PBMC2_Nlib,4.792332,0,4.792332,0,0,Bcells
51106,M_0428PBMC2_Nlib_TTCACGCATTCACGCAGACTAGTA,M_0428PBMC2_Nlib,1341,782,M_0428PBMC2_Nlib,1.789709,0,1.789709,2,2,Bcells
51107,M_0428PBMC2_Nlib_TTCACGCATTCACGCAGGTGCGAA,M_0428PBMC2_Nlib,1204,703,M_0428PBMC2_Nlib,3.488372,0,3.488372,10,10,Bcells

In [44]:
metaG1 = meta[meta['orig.ident']=='M_0428PBMC1_Nlib']
metaG2 = meta[meta['orig.ident']=='M_0428PBMC2_Nlib']

In [45]:
metaG1.groupby('new_ident').count()

,barcode,orig.ident,nCount_RNA,nFeature_RNA,sample,percent.mt,percent.MT,percent.mito,RNA_snn_res.0.8,seurat_clusters
new_ident,,,,,,,,,,
Basophils,79,79,79,79,79,79,79,79,79,79
Bcells,8439,8439,8439,8439,8439,8439,8439,8439,8439,8439
Doublet,1219,1219,1219,1219,1219,1219,1219,1219,1219,1219
Erythrocytes,455,455,455,455,455,455,455,455,455,455
Monocytes,4926,4926,4926,4926,4926,4926,4926,4926,4926,4926
NK,1645,1645,1645,1645,1645,1645,1645,1645,1645,1645
Neutrophils,41,41,41,41,41,41,41,41,41,41
Platelets,388,388,388,388,388,388,388,388,388,388
ProliferatingTcells,124,124,124,124,124,124,124,124,124,124
Tcells,7250,7250,7250,7250,7250,7250,7250,7250,7250,7250

In [46]:
metaG2.groupby('new_ident').count()

,barcode,orig.ident,nCount_RNA,nFeature_RNA,sample,percent.mt,percent.MT,percent.mito,RNA_snn_res.0.8,seurat_clusters
new_ident,,,,,,,,,,
Basophils,87,87,87,87,87,87,87,87,87,87
Bcells,9453,9453,9453,9453,9453,9453,9453,9453,9453,9453
Doublet,1368,1368,1368,1368,1368,1368,1368,1368,1368,1368
Erythrocytes,450,450,450,450,450,450,450,450,450,450
Monocytes,5231,5231,5231,5231,5231,5231,5231,5231,5231,5231
NK,1722,1722,1722,1722,1722,1722,1722,1722,1722,1722
Neutrophils,55,55,55,55,55,55,55,55,55,55
Platelets,305,305,305,305,305,305,305,305,305,305
ProliferatingTcells,141,141,141,141,141,141,141,141,141,141
Tcells,7730,7730,7730,7730,7730,7730,7730,7730,7730,7730

In [47]:
metaG1 = metaG1[metaG1['new_ident']=='Bcells']
metaG2 = metaG2[metaG2['new_ident']=='Bcells']

In [48]:
metaG1 = metaG1[['barcode']]
metaG2 = metaG2[['barcode']]

In [49]:
metaG1['barcode']= metaG1['barcode'].apply(lambda x:x.split('_')[-1])
metaG2['barcode']= metaG2['barcode'].apply(lambda x:x.split('_')[-1])

In [50]:
metaG1

                        barcode
2      AAACATCGAAACATCGCCAGTTCA
8      AAACATCGAACGCTTAAAGGTACA
10     AAACATCGAACGCTTAAGCAGGAA
11     AAACATCGAACGCTTACCTAATCC
12     AAACATCGAACGCTTAGAACAGGC
...                         ...
24529  TTCACGCAGTCGTAGAATAGCGAC
24530  TTCACGCAGTCGTAGACACCTTAC
24533  TTCACGCAGTCTGTCAAGCAGGAA
24535  TTCACGCAGTCTGTCAGGTGCGAA
24557  TTCACGCATGGCTTCAGAGCTGAA

[8439 rows x 1 columns]

In [51]:
metaG2

                        barcode
24566  AAACATCGAAACATCGAGTCACTA
24567  AAACATCGAAACATCGCACTTCGA
24570  AAACATCGAACAACCACCTCCTGA
24571  AAACATCGAACAACCACTGAGCCA
24575  AAACATCGAACGCTTAATAGCGAC
...                         ...
51099  TTCACGCATGGCTTCAATTGAGGA
51104  TTCACGCATGGTGGTATAGGATGA
51105  TTCACGCATTCACGCAAAGACGGA
51106  TTCACGCATTCACGCAGACTAGTA
51107  TTCACGCATTCACGCAGGTGCGAA

[9453 rows x 1 columns]

In [52]:
metaG1.to_csv('/SGRNJ06/randd/USER/cjj/celedev/trust4/20220531cell_calling/BCR/C1/barcodelist',index=False,header=None)
metaG2.to_csv('/SGRNJ06/randd/USER/cjj/celedev/trust4/20220531cell_calling/BCR/C2/barcodelist',index=False,header=None)