In [4]:
import pandas as pd

In [13]:
df = pd.read_csv("/SGRNJ06/randd/PROJECT/scATAC/20231006_ME_sc/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/03.atac/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/outs/fragments.tsv.gz", skiprows=53, sep='\t',  names=["chr", "start", "end", "barcode", "count"], header=None)

In [14]:
df

                 chr    start      end             barcode  count
0               chr1  3000438  3000645  GACTAGTCACTACACA-1      3
1               chr1  3000797  3000831  GGATAGGGTCATAGCT-1      2
2               chr1  3000831  3000879  GGATAGGGTCATAGCT-1      1
3               chr1  3001362  3001559  CGCACAGGTTCTTATC-1      3
4               chr1  3001611  3001811  GGTGTCGGTGCGTGTC-1      1
...              ...      ...      ...                 ...    ...
86322538  JH584295.1     1955     1976  GGTGTCGCACTTTGGA-1      2
86322539  JH584295.1     1955     1976  GGTGTCGCAGGGTAAC-1      2
86322540  JH584295.1     1955     1976  GGTGTCGGTAGCAGGT-1      3
86322541  JH584295.1     1955     1976  GTAGGAGGTATCACAC-1      4
86322542  JH584295.1     1955     1976  TTGCGGGAGTTCGTTG-1      2

[86322543 rows x 5 columns]

In [15]:
df1 = pd.read_csv("/SGRNJ06/randd/USER/cjj/celedev/atac/MAESTRO/test/20231220/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/02.atac/Result/Mapping/A0920_3_ME_YSPB_WX_D_T7_EDTA5030/fragments_corrected_dedup_count.tsv.gz", sep='\t',  names=["chr", "start", "end", "barcode", "count"], header=None)

In [16]:
df1

           chr     start       end               barcode  count
0         chr1   3000438   3000645  CAGACTGAGAACTGTGCGGG      1
1         chr1   3000438   3000645  CAGACTGAGAACTGTTGACC      3
2         chr1   3000797   3000831  AAGTGTATGCCGTTTCGGAG      2
3         chr1   3000831   3000879  AAGTGTATGCCGTTTCGGAG      1
4         chr1   3001362   3001559  CAGGTGTTCTAGGCACAGTG      3
...        ...       ...       ...                   ...    ...
79649906  chrY  90813899  90813950  CGAGACAGAATCCGTATAAA      2
79649907  chrY  90813912  90813954  CAGACTCAGCACATCAAGGA      6
79649908  chrY  90814751  90814793  CAAGGACAAGAACCCGCGTA      5
79649909  chrY  90825278  90825322  GGATAAATGGAGAGTGACCC      2
79649910  chrY  90828840  90828891  GGATAAATGGAGAGTGACCC      2

[79649911 rows x 5 columns]

In [17]:
sum(df['count'])

217749525

In [18]:
sum(df1['count'])

199228584

In [27]:
df = pd.read_csv("/SGRNJ06/randd/PROJECT/scATAC/20231212_M_959595_sc/A1120_3_MLNheart_guozhu_YSPB_WX_D002SDS_T7_EDTA5030/03.atac/A1120_3_MLNheart_guozhu_YSPB_WX_D002SDS_T7_EDTA5030/outs/peaks.bed", skiprows=53, sep='\t',  names=["chr", "start", "end"], header=None)

In [28]:
df1 = pd.read_csv("/SGRNJ06/randd/PROJECT/scATAC/self_pipe/20231212_M_959595_sc/A1120_3_MLNheart_guozhu_YSPB_WX_D002SDS_T7_EDTA5030/02.atac/Result/Analysis/A1120_3_MLNheart_guozhu_YSPB_WX_D002SDS_T7_EDTA5030/A1120_3_MLNheart_guozhu_YSPB_WX_D002SDS_T7_EDTA5030_final_peaks.bed", sep='\t',  names=["chr", "start", "end"], header=None)

In [29]:
df

              chr    start      end
0            chr1  3292335  3293229
1            chr1  3671252  3672228
2            chr1  3913378  3914293
3            chr1  4077157  4078160
4            chr1  4408882  4409782
...           ...      ...      ...
60542  GL456216.1    13423    14325
60543  GL456216.1    15684    16606
60544  GL456216.1    16783    17615
60545  GL456216.1    48797    49699
60546  JH584292.1    12598    13515

[60547 rows x 3 columns]

In [30]:
df1

        chr     start       end
0      chr1   3119700   3120465
1      chr1   3121444   3121579
2      chr1   3292780   3292873
3      chr1   3671709   3671865
4      chr1   3913846   3913928
...     ...       ...       ...
69526  chrY  90799281  90799498
69527  chrY  90800383  90800737
69528  chrY  90807463  90807813
69529  chrY  90808569  90808885
69530  chrY  90811831  90812065

[69531 rows x 3 columns]

In [35]:
df['a'] = df['chr'] + '_' + df['start'].astype(str) + '_' + df['end'].astype(str)

In [37]:
df1['a'] = df1['chr'] + '_' + df1['start'].astype(str) + '_' + df1['end'].astype(str)

In [40]:
len(set(df['a']) & set(df1['a']))

1

In [24]:
import pandas as pd 
import glob 
import pysam

In [5]:
clonotypes = glob.glob("/SGRNJ07/Standard_Analysis/PROJ03/PROJ_23.Other/P23101401_fl-BCR/20231221/B6-B/04.summarize/clonotypes.csv")
annos = glob.glob("/SGRNJ07/Standard_Analysis/PROJ03/PROJ_23.Other/P23101401_fl-BCR/20231221/B6-B/04.summarize/filtered_contig_annotations.csv")
fastas = glob.glob("/SGRNJ07/Standard_Analysis/PROJ03/PROJ_23.Other/P23101401_fl-BCR/20231221/B6-B/04.summarize/filtered_contig.fasta")

In [7]:
fastas

['/SGRNJ07/Standard_Analysis/PROJ03/PROJ_23.Other/P23101401_fl-BCR/20231221/B6-B/04.summarize/filtered_contig.fasta']

In [13]:
        i=0
        sample = clonotypes[i].split('/')[-3]
        cl = pd.read_csv(clonotypes[i])

In [15]:
        cl.cdr3s_aa = cl.cdr3s_aa.apply(lambda x: x.split(';'))

In [17]:
        cl = cl[cl['cdr3s_aa'].apply(lambda x: len(x)) == 2]

In [19]:
        cl = cl[cl['cdr3s_aa'].apply(lambda x: x[0]).str.contains('IGH')]
        cl = cl[~cl['cdr3s_aa'].apply(lambda x: x[1]).str.contains('IGH')]
        cl['cdr3s_aa'] = cl['cdr3s_aa'].apply(lambda x: ';'.join(x))
        cl = cl[['clonotype_id', 'cdr3s_aa', 'cdr3s_nt']]

In [20]:
cl

,clonotype_id,cdr3s_aa,cdr3s_nt
0,clonotype1,IGH:CAREGFYAMDYW;IGK:CCQITHFPRTF,IGH:TGTGCAAGAGAGGGTTTCTATGCTATGGACTACTGG;IGK:T...
2,clonotype3,IGH:CARGIPLLVVPYYYTLDYW;IGK:CQQGQSFPWTF,IGH:TGTGCAAGAGGAATCCCCTTATTAGTAGTTCCCTATTACTAT...
4,clonotype5,IGH:CAIYYGSSYVVYW;IGK:CFQGTGYPLTF,IGH:TGTGCAATTTACTACGGCAGTAGCTACGTAGTCTACTGG;IG...
5,clonotype6,IGH:CARDGFYAMDYW;IGK:CWQVTHFPWTF,IGH:TGTGCAAGAGACGGTTTCTATGCTATGGACTACTGG;IGK:T...
9,clonotype10,IGH:CARERVTGTYFDVW;IGK:CQQYYSYPYTF,IGH:TGTGCAAGAGAGAGGGTAACTGGGACGTACTTCGATGTCTGG...
...,...,...,...
602,clonotype603,IGH:CAREENNYYGSSYDYFDYW;IGK:CQQYSSYPYTF,IGH:TGTGCAAGAGAGGAGAATAATTACTACGGTAGTAGCTACGAC...
603,clonotype604,IGH:CAREIYYDYDWPYYTMDYW;IGK:CQHSWEFPYTF,IGH:TGTGCAAGAGAGATCTACTATGATTACGACTGGCCTTACTAT...
604,clonotype605,IGH:CTRGIYYYGSSFVEGYFDVW;IGK:CQQGQSYPCTF,IGH:TGTACAAGAGGAATCTATTACTACGGAAGTAGCTTCGTAGAG...
606,clonotype607,IGH:CARGGDSSGRYPYYYAMDYW;IGK:CVQLLEYPFTF,IGH:TGTGCAAGAGGGGGAGACAGCTCAGGCCGTTACCCTTATTAC...
607,clonotype608,IGH:CAREWILFITTVVGDWYFDVW;IGK:CQHSRELPSSF,IGH:TGTGCAAGAGAATGGATTTTATTTATTACTACGGTAGTAGGG...

In [21]:
        anno = pd.read_csv(annos[0])
        anno = anno[['barcode' ,'contig_id', "raw_clonotype_id", "chain"]]

In [22]:
anno

,barcode,contig_id,raw_clonotype_id,chain
0,CTGTAGCCACATTGGCAATGTTGC,CTGTAGCCACATTGGCAATGTTGC_contig_1,clonotype260,IGH
1,CTGTAGCCACATTGGCAATGTTGC,CTGTAGCCACATTGGCAATGTTGC_contig_2,clonotype260,IGK
2,GAGCTGAACTGGCATAGCCAAGAC,GAGCTGAACTGGCATAGCCAAGAC_contig_1,clonotype18,IGH
3,GAGCTGAACTGGCATAGCCAAGAC,GAGCTGAACTGGCATAGCCAAGAC_contig_2,clonotype18,IGK
4,GAGCTGAACTGGCATAGCCAAGAC,GAGCTGAACTGGCATAGCCAAGAC_contig_3,clonotype18,IGH
...,...,...,...,...
1836,ATTGAGGACTGTAGCCAGTACAAG,ATTGAGGACTGTAGCCAGTACAAG_contig_1,clonotype1,IGK
1837,AGGCTAACGACAGTGCAACGCTTA,AGGCTAACGACAGTGCAACGCTTA_contig_1,clonotype6,IGK
1838,CAGATCTGCACCTTACAACCGAGA,CAGATCTGCACCTTACAACCGAGA_contig_1,clonotype2,IGK
1839,GTCTGTCAAAGAGATCGAATCTGA,GTCTGTCAAAGAGATCGAATCTGA_contig_1,clonotype1,IGH
1840,AGTACAAGAAGAGATCCACTTCGA,AGTACAAGAAGAGATCCACTTCGA_contig_1,clonotype11,IGH

In [25]:
        s1, s2 = [], []
        with pysam.FastxFile(fastas[0]) as f:
            for read in f:
                s1.append(read.name)
                s2.append(read.sequence)
        fl_seq_dict = dict(zip(s1, s2))

In [27]:
        anno['fl_seq'] = anno['contig_id'].apply(lambda x: fl_seq_dict[x])

In [29]:
        anno['t'] = anno['raw_clonotype_id'].apply(lambda x: x[9:])
        anno['t'] = anno['t'].astype(int)
        anno = anno.sort_values(['t','barcode'])
        del anno['t']
        anno = anno.rename(columns = {'raw_clonotype_id': 'clonotype_id'})

In [30]:
anno

,barcode,contig_id,clonotype_id,chain,fl_seq
1706,AACCGAGACTGTAGCCAGTACAAG,AACCGAGACTGTAGCCAGTACAAG_contig_1,clonotype1,IGK,ACTGATCACTCTCCTATGTTCATTTCCTCAAAATGATGAGTCCTGC...
749,AACCGAGATAGGATGACGGATTGC,AACCGAGATAGGATGACGGATTGC_contig_1,clonotype1,IGK,ACTGATCACTCTCCTATGTTCATTTCCTCAAAATGATGAGTCCTGC...
750,AACCGAGATAGGATGACGGATTGC,AACCGAGATAGGATGACGGATTGC_contig_2,clonotype1,IGH,GCAATCCGATGCTAATACGTAGTCTCATCCTAGAGACCTACATGTT...
1415,AACGCTTAAACGTGATCGCATACA,AACGCTTAAACGTGATCGCATACA_contig_1,clonotype1,IGH,ACACTCGTCGGCAGCGTCAGATGTGTATAAGAGACAGACGTCGAAT...
1416,AACGCTTAAACGTGATCGCATACA,AACGCTTAAACGTGATCGCATACA_contig_2,clonotype1,IGK,ACTGATCACTCTCCTATGTTCATTTCCTCAAAATGATGAGTCCTGC...
...,...,...,...,...,...
805,GACAGTGCAGATCGCAAAGGTACA,GACAGTGCAGATCGCAAAGGTACA_contig_3,clonotype606,IGK,CACCCCCCCCCCCCACCAGTTTTAATGATTCCGCTACAACCGAGAT...
521,GACTAGTAAACCGAGAACGCTCGA,GACTAGTAAACCGAGAACGCTCGA_contig_1,clonotype607,IGK,ACACTCGTCGGCAGCGTCAGATGTGTATAAGAGACAGCCGCGTGTA...
522,GACTAGTAAACCGAGAACGCTCGA,GACTAGTAAACCGAGAACGCTCGA_contig_2,clonotype607,IGH,ACACTCGTCGGCAGCGTCAGATGTGTATAAGAGACAGGAAGTCATT...
927,TCTTCACACTAAGGTCAACGTGAT,TCTTCACACTAAGGTCAACGTGAT_contig_1,clonotype608,IGK,ATCACGTTCGTAGCCGCATGCTGAGACCTTAGTCTCAAGCACGTGG...
928,TCTTCACACTAAGGTCAACGTGAT,TCTTCACACTAAGGTCAACGTGAT_contig_2,clonotype608,IGH,AACAACACATGTCCAATGTCCTCTCCACAGACACTGAACACACTGA...

In [31]:
cl

,clonotype_id,cdr3s_aa,cdr3s_nt
0,clonotype1,IGH:CAREGFYAMDYW;IGK:CCQITHFPRTF,IGH:TGTGCAAGAGAGGGTTTCTATGCTATGGACTACTGG;IGK:T...
2,clonotype3,IGH:CARGIPLLVVPYYYTLDYW;IGK:CQQGQSFPWTF,IGH:TGTGCAAGAGGAATCCCCTTATTAGTAGTTCCCTATTACTAT...
4,clonotype5,IGH:CAIYYGSSYVVYW;IGK:CFQGTGYPLTF,IGH:TGTGCAATTTACTACGGCAGTAGCTACGTAGTCTACTGG;IG...
5,clonotype6,IGH:CARDGFYAMDYW;IGK:CWQVTHFPWTF,IGH:TGTGCAAGAGACGGTTTCTATGCTATGGACTACTGG;IGK:T...
9,clonotype10,IGH:CARERVTGTYFDVW;IGK:CQQYYSYPYTF,IGH:TGTGCAAGAGAGAGGGTAACTGGGACGTACTTCGATGTCTGG...
...,...,...,...
602,clonotype603,IGH:CAREENNYYGSSYDYFDYW;IGK:CQQYSSYPYTF,IGH:TGTGCAAGAGAGGAGAATAATTACTACGGTAGTAGCTACGAC...
603,clonotype604,IGH:CAREIYYDYDWPYYTMDYW;IGK:CQHSWEFPYTF,IGH:TGTGCAAGAGAGATCTACTATGATTACGACTGGCCTTACTAT...
604,clonotype605,IGH:CTRGIYYYGSSFVEGYFDVW;IGK:CQQGQSYPCTF,IGH:TGTACAAGAGGAATCTATTACTACGGAAGTAGCTTCGTAGAG...
606,clonotype607,IGH:CARGGDSSGRYPYYYAMDYW;IGK:CVQLLEYPFTF,IGH:TGTGCAAGAGGGGGAGACAGCTCAGGCCGTTACCCTTATTAC...
607,clonotype608,IGH:CAREWILFITTVVGDWYFDVW;IGK:CQHSRELPSSF,IGH:TGTGCAAGAGAATGGATTTTATTTATTACTACGGTAGTAGGG...

In [35]:
pd.merge(cl, anno, on='clonotype_id', how="inner")

,clonotype_id,cdr3s_aa,cdr3s_nt,barcode,contig_id,chain,fl_seq
0,clonotype1,IGH:CAREGFYAMDYW;IGK:CCQITHFPRTF,IGH:TGTGCAAGAGAGGGTTTCTATGCTATGGACTACTGG;IGK:T...,AACCGAGACTGTAGCCAGTACAAG,AACCGAGACTGTAGCCAGTACAAG_contig_1,IGK,ACTGATCACTCTCCTATGTTCATTTCCTCAAAATGATGAGTCCTGC...
1,clonotype1,IGH:CAREGFYAMDYW;IGK:CCQITHFPRTF,IGH:TGTGCAAGAGAGGGTTTCTATGCTATGGACTACTGG;IGK:T...,AACCGAGATAGGATGACGGATTGC,AACCGAGATAGGATGACGGATTGC_contig_1,IGK,ACTGATCACTCTCCTATGTTCATTTCCTCAAAATGATGAGTCCTGC...
2,clonotype1,IGH:CAREGFYAMDYW;IGK:CCQITHFPRTF,IGH:TGTGCAAGAGAGGGTTTCTATGCTATGGACTACTGG;IGK:T...,AACCGAGATAGGATGACGGATTGC,AACCGAGATAGGATGACGGATTGC_contig_2,IGH,GCAATCCGATGCTAATACGTAGTCTCATCCTAGAGACCTACATGTT...
3,clonotype1,IGH:CAREGFYAMDYW;IGK:CCQITHFPRTF,IGH:TGTGCAAGAGAGGGTTTCTATGCTATGGACTACTGG;IGK:T...,AACGCTTAAACGTGATCGCATACA,AACGCTTAAACGTGATCGCATACA_contig_1,IGH,ACACTCGTCGGCAGCGTCAGATGTGTATAAGAGACAGACGTCGAAT...
4,clonotype1,IGH:CAREGFYAMDYW;IGK:CCQITHFPRTF,IGH:TGTGCAAGAGAGGGTTTCTATGCTATGGACTACTGG;IGK:T...,AACGCTTAAACGTGATCGCATACA,AACGCTTAAACGTGATCGCATACA_contig_2,IGK,ACTGATCACTCTCCTATGTTCATTTCCTCAAAATGATGAGTCCTGC...
...,...,...,...,...,...,...,...
1128,clonotype605,IGH:CTRGIYYYGSSFVEGYFDVW;IGK:CQQGQSYPCTF,IGH:TGTACAAGAGGAATCTATTACTACGGAAGTAGCTTCGTAGAG...,CAGCGTTAAACAACCAATCATTCC,CAGCGTTAAACAACCAATCATTCC_contig_2,IGH,GATCAGTATCCTCTTCACAGTCACTGAAAACATTGACTCTAATCAT...
1129,clonotype607,IGH:CARGGDSSGRYPYYYAMDYW;IGK:CVQLLEYPFTF,IGH:TGTGCAAGAGGGGGAGACAGCTCAGGCCGTTACCCTTATTAC...,GACTAGTAAACCGAGAACGCTCGA,GACTAGTAAACCGAGAACGCTCGA_contig_1,IGK,ACACTCGTCGGCAGCGTCAGATGTGTATAAGAGACAGCCGCGTGTA...
1130,clonotype607,IGH:CARGGDSSGRYPYYYAMDYW;IGK:CVQLLEYPFTF,IGH:TGTGCAAGAGGGGGAGACAGCTCAGGCCGTTACCCTTATTAC...,GACTAGTAAACCGAGAACGCTCGA,GACTAGTAAACCGAGAACGCTCGA_contig_2,IGH,ACACTCGTCGGCAGCGTCAGATGTGTATAAGAGACAGGAAGTCATT...
1131,clonotype608,IGH:CAREWILFITTVVGDWYFDVW;IGK:CQHSRELPSSF,IGH:TGTGCAAGAGAATGGATTTTATTTATTACTACGGTAGTAGGG...,TCTTCACACTAAGGTCAACGTGAT,TCTTCACACTAAGGTCAACGTGAT_contig_1,IGK,ATCACGTTCGTAGCCGCATGCTGAGACCTTAGTCTCAAGCACGTGG...
1132,clonotype608,IGH:CAREWILFITTVVGDWYFDVW;IGK:CQHSRELPSSF,IGH:TGTGCAAGAGAATGGATTTTATTTATTACTACGGTAGTAGGG...,TCTTCACACTAAGGTCAACGTGAT,TCTTCACACTAAGGTCAACGTGAT_contig_2,IGH,AACAACACATGTCCAATGTCCTCTCCACAGACACTGAACACACTGA...